<div class="container">
    <div class="row about-container">

      <div class="col-lg-6 content order-lg-1 order-2">
        <h2 class="title">La Liga</h2>
        <p>
        
        </p>

        <div class="icon-box wow fadeInUp">
          <div class="icon"><i class="fa fa-html5"></i></div>
          <h4 class="title"><a href="">HTML 5</a></h4>
          <p class="description">We build interactive websites with HTML5 technologies</p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-photo"></i></div>
          <h4 class="title"><a href="">CSS3</a></h4>
          <p class="description">We create stunning websites with latest css features.</p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title"><a href="">Javascript</a></h4>
          <p class="description">Our Javascript Frameworks are JQuerry, Angular and ReactJS.</p>
        </div>

      </div>

      <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
    </div>

  </div>